*{
    padding: 0;
    margin: 0;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-items: center;
    text-align: center;
    height:500px;
    background-image: url('../assets/images/pexels-celine-3776818-30063037.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main img{
    width: 100%;
    height: 100%;

}


header{
    display: flex;
    background-color: rgb(31, 136, 19);
    align-items: center;
    justify-content: space-between;
    height: 80px;
    

}



.firstsection h3
{
    color: white;
    text-shadow: 1px 1px rgb(7, 7, 7);
    font-weight: bold;
    margin-left: 20px;
   font-size: 20px;

}



.secondsection{
    width: 450;
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    gap: 20px;

}

.secondsection a{
    color: white;
    text-decoration: none;
}
.firstsection{
    padding: 8px 15px;
}
h1{
    font-size: 50px;
}
.First{
    margin-top: 100px;

}
.First h1{
 font-weight: bold;
 font-size: 90px;
 color: rgb(223, 214, 214);
 text-shadow: 2px 5px rgb(0, 0, 0);

}
.First p{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(4, 4, 4);
    font-weight: bold;
    font-size: large;

}
.Decouvrez{
    background-color: rgb(31, 136, 19);
    width: 170px;
    height: 40px;
    border-radius: 25px;
    border: none;
    margin-top: 90px;
    color: white;
    
}
.Decouvrez:hover{
    color: aliceblue;
    background-color: rgb(17, 67, 17);
}
.Service_title h1{
    text-align: center;
    color:  rgb(31, 136, 19);
}
.services{
    background-color: #e8e8e8;

}
.card{
    display: flex;
    justify-content: space-around;
    margin-top: 80px ;

}
.card img{
    width: 250px;
    height: 220px;
  

}
.img2,.img3,.img1{
    border-radius: 25px;
    background-color: white;
    gap: 10px;
}
.img1 h4,.img2 h4,.img3 h4{
    text-align: center;
    margin: 30px;
}

