@import url(components/footer.css);
@import url(components/header.css);
@import url(utils/reset.css);

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 500px;
  background-image: url("../assets/images/pexels-celine-3776818-30063037.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 50px;
}
.First {
  margin-top: 100px;
}
.First h1 {
  font-weight: bold;
  font-size: 90px;
  color: rgb(223, 214, 214);
  text-shadow: 2px 5px rgb(0, 0, 0);
}
.First p {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(4, 4, 4);
  font-weight: bold;
  font-size: large;
}
.Decouvrez {
  background-color: rgb(31, 136, 19);
  width: 170px;
  height: 40px;
  border-radius: 25px;
  border: none;
  margin-top: 90px;
  color: white;
}
.Decouvrez:hover {
  color: aliceblue;
  background-color: rgb(17, 67, 17);
}
.Service_title h1 {
  text-align: center;
  color: #3a8530;
}
.services {
  background-color: #e8e8e8;
  height: 500px;
}
.card {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.card img {
  width: 200px;
  height: 250px;
}
.img2,
.img3,
.img1 {
  border-radius: 25px;
  background-color: white;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.img1 h4,
.img2 h4,
.img3 h4 {
  text-align: center;
  margin: 20px;
}
.Lastpart {
  background-color: #d9d9d9;
  height: 300px;
  text-align: center;
}
.contact {
  color: #3a8530;
}
.caption2 {
  color: rgb(1, 1, 1);
}
.Envoyer {
  background-color: rgb(31, 136, 19);
  width: 180px;
  height: 40px;
  border-radius: 25px;
  border: none;
  margin-top: 90px;
  color: white;
}
.Envoyer:hover {
  color: aliceblue;
  background-color: rgb(17, 67, 17);
}
