header {
  display: flex;
  background-color: #2dcc70;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.firstsection h3 {
  color: white;
  text-shadow: 1px 1px rgb(7, 7, 7);
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
}

.secondsection {
  width: 450;
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
  gap: 20px;
}

.secondsection a {
  color: white;
  text-decoration: none;
}
.firstsection {
  padding: 8px 15px;
}
